.container {
  min-height: 80vh;
  max-height: 80vh;
  margin-bottom: 20px;
  color: white;
  object-fit: contain;
}

.content {
  margin-left: 10%;
  padding-top: 8%;
  height: 30vh;
}

.title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.5rem;
}

.desc {
  width: 35rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 1rem;
  max-width: 50%;
}

.button {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-family: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.button:hover {
  color: black;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.bottomFadeout {
  height: 13rem;
  background-image: linear-gradient(180deg, transparent, rgba(27, 27, 27, 0.61),#111);
}

@media screen and (max-width: 786px) {
  .content {
    margin-left: 10%;
    padding-top: 35%;
    height: 30vh;
  }
  .desc {
    max-width: 70%;
    font-size: 0.8rem;
  }
  .bottomFadeout {
    height: 16.7rem;
  }
}