.nav { 
  color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 400ms;
}

.navBlack {
  background-color: #000;
}

.logo {
  object-fit: contain;
  width: 120px;
  margin-left: 3%;
}

.profile {
  object-fit: contain;
  width: 30px;
  margin-right: 3%;
}